html{
font-size:62.5%;
}
body{
margin:0px;
min-height:626px;
}
.top{
background-color:5fc0cd;
height:3rem;
text-align:center;
font-size:1.5rem;

}
button{
width:5rem;
height:2.9rem;
font-size:1.3rem;
border-radius:8px;

}
.find1{
background:#55a8b3;
color:#ffffff;
border:2px solid #55a8b3;
}
.find2{
position:relative;
background:white;
color:5fc0cd;
right:10px;
border:2px solid white;
}
.weizhi{
height:2rem;
width:2rem;
position:absolute;
right:1rem;
top:0.5rem;
}
.xuanxiang{
display:flex;
width:100%;
height:4rem;
align-items:center;
font-size:1.5rem;
border-bottom:1px solid gray;
}
.qingkuang{
width:33%;
text-align:center;
height:2rem;
border-right:0.5px solid gray;
}
.qingkuang2{
width:33%;
text-align:center;
height:2rem;

}
.sanjiao1{
position:relative;
left:19%;
}
.sanjiao2{
position:relative;
left:25%;
}
.sanjiao3{
position:relative;
left:15%;
}
.neirong{
display:flex;
align-items:center;
}
.xiangqing1{
padding:1rem;
font-size:1.5rem;
border-bottom:1px solid gray;
height:90px;
width:60%;
}
.rili{
position:relative;
top:0.2rem;
height:1.5rem;
width:1.3rem;
}
.riqi{
padding-bottom:1rem;
}
.time{
padding-bottom:1rem;
}
.jiage{
width:40%;
color:red;
font-size:1.5rem;
height:90px;
padding-top:1rem;
padding-bottom:1rem;
border-bottom:1px solid gray;
}
.jiage1{
position:absolute;
right:3rem;
top:10.9rem;
}
.jiantou{
height:16.5px;
width:10px;
position:absolute;
right:1rem;
top:11.2rem;
}
.jiage2{
position:absolute;
right:3rem;
top:20.5rem;
}
.jiantou2{
height:16.5px;
width:10px;
position:absolute;
right:1rem;
top:20.8rem;
}
.jiage3{
position:absolute;
right:3rem;
top:30.1rem;
}
.jiantou3{
height:16.5px;
width:10px;
position:absolute;
right:1rem;
top:30.3rem;
}
.jiage4{
position:absolute;
right:3rem;
top:39.7rem;
}
.jiantou4{
height:16.5px;
width:10px;
position:absolute;
right:1rem;
top:39.9rem;
}
footer{
position:fixed;
bottom:0;
background-color:white;
height:50px;
width:100%;
display:flex;
justify-content:space-around;
align-items:center;
}
.home{
width:34.5px;
color:5fc0cd;
}
.homeimg{
width:30px;
height:25px;
}
.add1{
height:50px;
width:50px;
}
.mine{
width:34.5px;
color:gray;
}
.mine1{
width:30px;
height:25px;
}
