html{
    font-size: 62.5%;
}
body{
    margin: 0px;
    min-height: 626px;
}

.top{
    height: 3rem;	
    text-align: center;
    font-size: 1.5rem;
    background-color: 5fc0cd;
}
button{
    width: 5rem;
    height: 2.9rem;
	border-radius: 8px;
    font-size: 1.3rem;
}
.find1{
	border: 2px solid #55a8b3;
    background: #55a8b3;
    color: #ffffff;
}
.find2{
    position: relative;
	right: 10px;
	border: 2px solid white;
    background: white;
    color: 5fc0cd;
}
.weizhi{
	position: absolute;
    right: 1rem;
    top: 0.5rem;
	height: 20px;
    width: 20px;
	background-image: url("img.png");
    background-position: 0 -57px;
}
.xuanxiang{
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
}
.qingkuang{
	position: relative;
    width: 33%;
    height: 2rem;
    text-align: center;
    border-right: 0.5px solid gray;
}
.qingkuang2{
	position: relative;
    width: 33%;
    height: 2rem;
    text-align: center;
}
.sanjiao1{
	position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
	height: 8px;
    width: 13px;
    background-image: url("img.png");
    background-position: 0 -17px;

}
.sanjiao2{
	position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
	height: 8px;
    width: 13px;
    background-image: url("img.png");
    background-position: 0 -17px;
}
.sanjiao3{
	position: absolute;
    right: 0.1rem;
    bottom: 0.5rem;
	height: 8px;
    width: 13px;
    background-image: url("img.png");
    background-position: 0 -17px;
}
.neirong{
    display: flex;
    align-items: center;
}
.xiangqing1{
	position: relative;
	height: 90px;
    width: 60%;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
}
.rili{
	position: relative;
    top: 1.4rem;
	height: 15px;
    width: 15px;
    background-image: url("img.png");
    background-position: 0 -42px;
}

.addr{
	height: 17px;
	width: 14px;
	background-image: url("img.png");
	background-position: 0 -25px;
}
.addre{
	position: relative;
	bottom: 1.6rem;
}
.riqi{
	position: relative;
    padding-bottom: 1rem;   
	bottom: 1.3rem;
}
.time{
	position: relative;
    padding-bottom: 1rem;
	bottom: 1.3rem;
}
.address{
	position: relative;
	bottom: 1.3rem;
}
.jiage{
	position: relative;
    width: 40%;
    height: 90px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
	font-size: 1.5rem;
    color: red;
}
.jiage1{
    position: absolute;
    right: 3rem;
    top: 3.8rem;
}
.jiantou{
	position: absolute;
    right: 1rem;
    top: 4.1rem;
	height: 17px;
	width: 10px;
	background-image: url("img.png");
	background-position: 0 0;
}
.jiage2{
    position: absolute;
    right: 3rem;
    top: 3.8rem;
}
.jiantou2{
	height: 17px;
	width: 10px;
	background-image: url("img.png");
	background-position: 0 0;
    

}
.jiage3{
    position: absolute;
    right: 3rem;
    top: 3.8rem;
}
.jiantou3{
	height: 17px;
	width: 10px;
	background-image: url("img.png");
	background-position: 0 0;
}
.jiage4{
    position: absolute;
    right: 3rem;
    top: 3.8rem;
}
.jiantou4{
	height: 17px;
	width: 10px;
    background-image: url("img.png");
	background-position: 0 0;
}
footer{
    position: fixed;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    background-color: white;
}
.home{
    width: 34.5px;
    color: 5fc0cd;
}
.homeimg{
	height: 26px;
    width: 30px;
    background-image: url("img.png");
    background-position: 0 -77px;
}
.add1{
	height: 53px;
    width: 50px;
	background-image: url("img.png");
    background-position: 0 -128px;
}
.mine{
    width: 34.5px;
    color: gray;
}
.mine1{
	height: 25px;
    width: 30px;
    background-image: url("img.png");
    background-position: 0 -103px;
}
